body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: rgb(76, 76, 76);
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {
    a {
        line-height: 32px;
        padding-left: 8px;
    }
}

div#menu,
div#content {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 2px;
    border-left: 1px solid rgb(135, 202, 82);
    border-right: 1px solid rgb(135, 202, 82);
}

div#menu {
    height: 16px;
    line-height: 16px;
    background-color: rgb(135, 202, 82);
}

@media (max-width: 480px) {
    div#menu {
        height: 32px;
    }
}

div#menu a {
    color: white;
}

div#content {
    border-bottom: 1px solid rgb(135, 202, 82);
}

div#content a {
    color: rgb(135, 202, 82);
}

label {
    display: inline-block;
    width: 60px;
}

div#content a.delete {
    color: rgb(202, 82, 135);
}

div#content a.edit,
div#content a.move {
    color: rgb(82, 135, 202);
}
